*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
:root {
  --pxSize: 3px;
  --cellSize: calc(var(--pxSize) * 8);
  --boardSize: calc(var(--cellSize) * 28);

}
body{
  max-width: 100vw;
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}
.screen{
  width: var(--boardSize);
  display: flex;
  flex-wrap: wrap;
}
.cell{
  width: var(--cellSize);
  height: var(--cellSize);
  display: flex;
  flex-wrap: wrap;
  outline: 1px solid red;
}
.px{
  width: var(--pxSize);
  height: var(--pxSize);
}
